/* 
    Created on : Sept 19, 2014
    Author     : Michael Fesser
    Purpose: Some basic CSS to improve the look of the page.  Reused some CSS and
            attempted to make some new CSS based on the feel of the portfolio project
            and looking at bootstrap.  It looks better, is much simpler, and is
            more reusable.  Expect to see this css for everything with some modifications.
 * Last Revision: Sept 22, 2014
 * Dependencies: triviaGame.php
 */

label { /* Taken from Fin1te on StackOverflow. Put the labels above the input fields.*/
    padding-top: 10px;
    display:block;
}

label{ /* Label formatting. */
    font-weight: bold;
    padding-bottom: 10px;
}

input{ /* Format the borders for the input fields. */
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

#box{ /* Format the div that holds all the fields */
    padding: 30px;
    margin-left: 10%;
    margin-right:10%;
}

.submit{  /* Button formatting. */
    background: darkslategray;
    color: white;
    left:180px;
    width:100px;
    font-weight: bold;
    padding:4px;
    border-radius:4px;
}

#inputFieldQuestion{ /* Formatting for the input fields. */
    border-radius:4px;
    height: 20px;
    width:70%;
    padding-left:10px; 
    padding-right:10px;   
}

#inputFieldAnswer{ /* Formatting for the input fields. */
    border-radius:4px;
    height: 20px;
    padding-left:10px; 
    padding-right:10px;   
}

table{ /* Table formatting */
    border: 1px solid black;   
    background-color: dark;
    text-align: center;
    font-size: 16px;
}

table th {
    border: 1px solid black;
    background-color: lightgrey;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 20px;

}

table td{
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 20px;
}


a:link{ /* Make the hyper-link a different colour. */
    color: darkgreen;
    font-weight: bold;
}

.inline{ /* Display the submit inline */
    display:inline; 
}

p{
    font-size: 20px;
}

select{ /* Formatting for the select box. */
    border-radius:4px;
    height: 20px;
    padding-left:1px; 
    padding-right:1px; 
}



