/* Author: Michael Fesser
 Date: 10/14/2014
 Purpose: Basic CSS that builds on Bootstrap CSS to customize the page.
 Last Revision: 10/14/2014
 Dependencies: index.php, login.php, register.php, menubar.php
 */


body{
    height: 100%;
    width: 100%;
    background: rgba(200,200,200,1.0);
}

.menuBar {
    padding:8px;
    border-radius: 2px;
    text-align: right;
    width:100%;
    background: rgba(200,200,200,1.0);
    margin-left: auto;
    margin-right: auto;
    background: black;
}

#menuBarLeft{
    float:left;
}

#menuContainer{
    height: 30px;
    position:fixed;
    width: 100%;
    z-index: 1;
}

#messageTable {
    min-width: 100%;
}

th{
    text-align: center;
}
#messageTable td:first-child{
    width: 20%
}

#loginForm{
    text-align: center;
    height: 1px;
    width: 1px;      
}

.offsetTop{
    padding-top: 30px;
}

.box{
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    margin-bottom: 20px;
    padding: 30px 15px;
}

label{
    padding-top: 10px;
}

.index-error-fix{
    width:300px;
    text-align: left;
}

.banner{
    background-image: url('../img/paper.jpg');
    height: 200px;
    width:100%;
    color:white;
}

#vetricalAlign{ /* Partially taken from http://phrogz.net/CSS/vertical-align/  Centres text vertically. */
    position: relative;
    top: 45%;
}